# Created by https://www.toptal.com/developers/gitignore/api/xcode,swift,macos
# Edit at https://www.toptal.com/developers/gitignore?templates=xcode,swift,macos

### myIgnore
API*.swift

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### xcode
*.xcuserstate
